body{
    /*margin: 40px;*/
    background: slategrey;
}

.container{
    /*margin-left: 10px;
    margin-right: 0px;*/
}

h1{
    text-align: center;
    /*text-shadow: 1px 1px 16px #BFF;*/
    /*text-transform: uppercase;*/
    color: navajowhite;
    font-size: 28px;
}

a, a:active, a:focus, a:hover{
    text-decoration: none;
    color: white;
}

/*
nav li {
    background-color: #666;
    list-style-type: none;
    width: 25%;
    text-align: center;
    float: left;
}

li a{
    text-align: center;
    color: white;
    vertical-align: middle;
    display: block;
    text-decoration: none;
    height: 30px;
}

li a:hover{
    display: block;
    background-color: #000;
}*/